  .topnav a.active {
    background-color: #45a;
    color: white;
  }
  
  .sidenav li a.active {
    background-color: #45a;
    color: white;
  }

  body {
    background-image: url("./iceEdit.svg");
    background-color: #cccccc;
  }