  .topnav a.active {
    background-color: #599;
    color: white;
  }
  
  .sidenav li a.active {
    background-color: #599;
    color: white;
  }

  .timer {
    border-style: solid;
    border-color: #999;
    margin: 3px;
    padding: 10px;
  }
  
  .progressBar {
    background-color: #599;
    width: 0%;
    padding-top: 30px;
    margin: 3px;
  }

  p {
    margin: 15px;
  }

  h4 {
    padding-left: 10px;
    text-align: left;
  }
  
  button {
    background-color: #599;
    border: none;
    color: white;
    padding: 3px 15px; 
  }